@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto&family=Rubik+Gemstones&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

// font-family: 'Roboto', sans-serif;
// font-family: 'Rubik Gemstones', cursive;
body {
    background-color: #0D1117;
}

.container {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    .left {
        position: fixed;
        height: 100vh;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

        .globalData {
            overflow: hidden;
            border-radius: 4px;
            height: 70vh;
            width: 97%;
            background-color: #E97777;

            h1 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 20vh;
                width: 100%;
                font-size: 3rem;
                font-family: 'Rubik Gemstones', cursive;
            }

            h3 {
                background-color: #FCDDB0;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 4.2rem;
                font-size: 1.5rem;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

    .right {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        left: 30%;
        height: auto;
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        display: block;

        .left {
            display: none;
        }

        .right {
            margin-left: -30%;
            width: 100%;

            .globalData1 {
                margin-right: 0;
                width: 100%;
                height: 100vh;

                h1 {
                    font-size: 2.4rem;
                    height: 20vh;
                }

                h3 {
                    margin-top: .4rem;
                    height: 5.2rem;
                    font-size: 1.5rem;
                }
                &:nth-child(2) {
                    margin-top: 8rem;
                }
            
                &:nth-child(3) {
                    margin-top: 0rem;
                }
            }
            header {
                width: 100%;
            }
        }
    }
}